@import "@/styles/abstract/mixins", "@/styles/abstract/variables";

.card {
    @include flex(column, flex-start, space-between);
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s ease;
    background-color: $white;

    @media screen and (any-hover: hover) {
        &:hover {
            box-shadow: 0 4px 24px 2px rgba(0, 0, 0, 0.1);
        }
    }

    &__img {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center center;
        }
    }

    &__content {
        @include flex(column, flex-start, flex-start);
        gap: 5px;
        position: relative;
        width: 100%;
        padding: 10px;

        &--row {
            @include flex(row, center, space-between);
            width: 100%;
        }

        &--actions {
            @include flex(row, center, flex-end);
            gap: 5px;

            svg {
                cursor: pointer;

                path {
                    transition: all 0.2s ease;
                }

                &:hover {
                    path {
                        stroke: $green;
                    }
                }

                &.favourites.active {
                    path {
                        fill: $red;
                        stroke: none;
                    }
                }

                &.cart.active {
                    path {
                        fill: $green;
                        stroke: $green;
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    &__name {
        @include font(16px, 500, 120%, $green);
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    &__price {
        @include font(16px, 600, 120%, $black);
    }

    &__quantity {
        @include flex(row, center, space-between);
        width: 100%;
        max-width: 100px;
        margin-inline: auto;
        padding: 5px;
        margin-top: 10px;

        &--text {
            @include center;
            flex: 1 1 auto;
        }

        &--button {
            border: 1px solid $black;
            padding-inline: 5px;
        }
    }

    &__delete {
        @include font(14px, 400, 120%, $white);
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        border-radius: 4px;
        background-color: $red;
    }
}
