@import "@/styles/abstract/mixins.scss";

.footer {
    width: 100%;
    margin-top: 20px;
    padding-block: 40px;
    background: linear-gradient(135deg, #b0dae6, #ffd6c7 60%, #ffd6c7);

    & > .container {
        @include flex(column, center, center);
        gap: 20px;
    }

    &__text {
        text-align: center;
    }
}
